RewriteEngine On

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

ErrorDocument 404 /webdak/template/404.php

RewriteRule ^home$           index.php [NC,L]
RewriteRule ^products$       src/products.php [NC,L]
RewriteRule ^manufacturers$  src/manufacturers.php [NC,L]
RewriteRule ^contact$        src/contact.php [NC,L]
RewriteRule ^about$          src/about.php [NC,L]